.row {
  margin-right: 0;
  margin-left: 0;
}

/* inizio header */
.my-label {
  padding: 3px 7px;
  background-color: #00D7D2;
  color: darkblue;
}

.my-label:hover {
  cursor: default;
}

.navbar {
  padding-top: 15px;
  background-color: white;
  margin-bottom: 0;
  border-radius: 0;
}

.my-colLeft a {
  color: #7B879F;
  font-weight: bold;
  font-size: 15px;
  margin-left: 5px;
}

.my-colRight a {
  color: #7B879F;
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
}

.list-inline a:hover {
  text-decoration: none;
}

.my-colLeft a:hover {
  text-decoration: none;
  color: #0F72FF;
}

.logoDigitalOcean {
  width: 200px;
}

.my-navbar {
  margin-top: 0;
}

.my-list a {
  margin-left: 25px;
  color: #031b4e;
  font-weight: bold;
  line-height: 2.5;
}

.my-btn {
  border-color: #0F72FF;
  color: #0F72FF;
  font-weight: bold;
}

.my-btn:hover {
 color: white;
 background-color: #0F72FF;
}

.my-visible-hamburger {
  padding: 20px;
  font-size: 20px;
}

.imglogo:hover {
  cursor: pointer;
}
/* fine header */
/* inizio jumbo */
.jumbo {
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: #0080FF;
}

.my-greenContainer {
  background-color: #00AF7A;
  color: white;
  font-size: 15px;
  padding-top: 10px;
  border-radius: 5px;
}

.my-greenContainer:hover {
  cursor: pointer;
}

.h1big {
font-size: 50px;
}

.welcome {
  margin-top: 100px;
  padding-right: 140px;
  font-size: 20px;
  color: white;
}

.createAccount {
  background-color: white;
  border-radius: 5px;
  padding: 30px 0px;
  margin-top: 50px;
  line-height: 3;
}

.dark {
  color: #031b4e;
}

.my-input {
  width: 70%;
  display: inline-block;
}

.my-button {
  padding-left: 20%;
  padding-right: 20%;
  max-width: 100%;
  margin-top: 10px;
}

.singUp {
  max-width: 350px;
  margin: 0 auto;
  position: relative;
}

.singUp::before {
  content: '';
  display: inline-block;
  width: 35%;
  height: 1px;
  background-color: lightgrey;
  position: absolute;
  left: 0;
  top: 20px;
}

.singUp::after {
  content: '';
  display: inline-block;
  width: 35%;
  height: 1px;
  background-color: lightgrey;
  position: absolute;
  right: 0;
  top: 20px;
}

.my-googleBtn img {
  width: 20px;
  float: left;
}

.my-googleBtn {
  width: 150px;
  background-color: #f2f8ff;
}

.fa-github {
  float: left;
  line-height: 1.5;
}
/* fine jumbo */
/* inizio innovative */
.innovative {
  background-color: #f3f5f9;
  color: #939EB5;
  padding: 50px 0px;
}

.images img {
  max-width: 150px;
  display: inline-block;
  margin-left: 25px;
}

.my-container {
  max-width: 100%;
}

.a-lightblue {
  color: #4288EC;
  text-decoration: none;
}

.a-lightblue:hover{
  color: #4288EC;
  text-decoration: none;
}
/* fine innovative */
/* inizio deploy */
.my-font {
  font-size: 20px;
  color: rgba(3,27,78,.7);
}

.first-paragraf {
  padding: 50px 0px;
}

.my-btnType {
  display: block;
  border: none;
  background-color: transparent;
  border-left: 2px solid lightgrey;
  padding: 20px 30px;
  font-weight: bold;
  color: rgba(3,27,78,.7);
}

.my-btnType:hover {
  border-left: 2px solid #0069FF;
  color: #031b4e;
}

.square1,.square2 {
  height: 270px;
}

.h3-dark {
  font-size: 20px;
  color: #031b4e;
  font-weight: bold;
}

.lightblue-icon {
  color: #0069FF;
}

.my-font-little {
  line-height: 1.5;
  font-size: 15px;
  color: rgba(3,27,78,.7);
}
/* fine deploy */
/* inizio designed-for */
.grab {
  padding: 50px 10px;
}

.grab,.contain-rocker:hover {
  cursor: grab;
}

.arrow {
  margin-top: 35%;
}

.arrow:hover {
  color: #0069FF;
  cursor: pointer;
}

.dots {
  font-size: 8px;
  padding: 3px;
  display: inline-block;
}
/* fine designed-for */
/* inizio built */
.built {
  padding-top: 50px;
  padding-bottom: 100px;
}
/* fine built */
/* inizio service-your-customers */
.service-your-customers {
  background-color: #031B4E;
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
}

.my-tabel {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.city {
  opacity: 0.6;
}

.testSpeed {
  text-align: right;
  color: #00d7d2;
}

.testSpeed:hover {
  cursor: pointer;
  color: #005EE3;
}
/* fine service-your-customers */
/* inizio Development teams  */
.Development {
  padding-bottom: 100px;
}

.contain-rocker {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 100px;
  padding-top: 20px;
  margin-top: 30px;
}

.rockerimg {
  padding: 20px;
  width: 200px;
  margin-left: 35%;
}

.arrow2 {
  margin-top: 30%;
}

.ateams {
  text-decoration: underline;
  color: #005EE3;
}

.ateams:hover {
  color: #005EE3;
}
/* fine Development teams  */
/* inizio getStarted */
.getStarted {
  background-color: #0080FF;
  padding: 50px 0px;
  color: white;
}

.my-btn-opacity {
  color: #005EE3;
  font-weight: bold;
  padding: 10px 25px;
}

.my-btn-opacity:hover {
  color: #005EE3;
  opacity: 0.9;
}
/* fine getStarted */
footer {
  background-color: #010E28;
  padding: 100px 0px;
  color: white;
}

.footer-container {
  margin-left: 50px;
}

.footer-list {
  color: white;
  opacity: 0.5;
  list-style: none;
  line-height: 1.8;
}

.footer-list:hover {
  opacity: 1;
  color: white;
  text-decoration: none;
}

.footer-logo {
  width: 100px;
  padding-top: 20px;
}

.copyright {
  margin-top: 50px;
  border-top: 1px solid white;
  opacity: 0.5;
}

.font-awesome {
  display: inline-block;
  padding: 5px;
}

.font-awesome,.footer-logo:hover {
  opacity: 1;
  color: white;
  cursor: pointer;
}

.final {
  line-height: 6.6;
}
