.row {
  margin-right: 0;
  margin-left: 0;
}

/* inizio header */
.my-label {
  padding: 3px 7px;
  background-color: #00D7D2;
  color: darkblue;
}

.navbar {
  padding-top: 15px;
  background-color: white;
  margin-bottom: 0;
  border-radius: 0;
}

.my-colLeft a {
  color: #7B879F;
  font-weight: bold;
  font-size: 15px;
  margin-left: 5px;
}

.my-colRight a {
  color: #7B879F;
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
}

.list-inline a:hover {
  text-decoration: none;
}

.my-colLeft a:hover {
  text-decoration: none;
  color: #0F72FF;
}

.logoDigitalOcean {
  width: 200px;
}

.my-navbar {
  margin-top: 0;
}

.my-list a {
  margin-left: 25px;
  color: #031b4e;
  font-weight: bold;
  line-height: 2.5;
}

.my-btn {
  border-color: #0F72FF;
  color: #0F72FF;
  font-weight: bold;
}

.my-btn:hover {
 color: white;
 background-color: #0F72FF;
}

.my-visible-hamburger {
  padding: 20px;
  font-size: 20px;
}
/* fine header */
.jumbo {
  height: 900px;
  background-color: #0049FF;
}
