.row {
  margin-right: 0;
  margin-left: 0;
}

/* inizio header */
.my-label {
  padding: 3px 7px;
  background-color: #00D7D2;
  color: darkblue;
}

.navbar {
  padding-top: 15px;
  background-color: white;
  margin-bottom: 0;
  border-radius: 0;
}

.my-colLeft a {
  color: #7B879F;
  font-weight: bold;
  font-size: 15px;
  margin-left: 5px;
}

.my-colRight a {
  color: #7B879F;
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
}

.list-inline a:hover {
  text-decoration: none;
}

.my-colLeft a:hover {
  text-decoration: none;
  color: #0F72FF;
}

.logoDigitalOcean {
  width: 200px;
}

.my-navbar {
  margin-top: 0;
}

.my-list a {
  margin-left: 25px;
  color: #031b4e;
  font-weight: bold;
  line-height: 2.5;
}

.my-btn {
  border-color: #0F72FF;
  color: #0F72FF;
  font-weight: bold;
}

.my-btn:hover {
 color: white;
 background-color: #0F72FF;
}

.my-visible-hamburger {
  padding: 20px;
  font-size: 20px;
}

.imglogo:hover {
  cursor: pointer;
}
/* fine header */
/* inizio jumbo */
.jumbo {
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: #0080FF
}

.my-greenContainer {
  background-color: #00AF7A;
  color: white;
  font-size: 15px;
  padding-top: 10px;
  border-radius: 5px;
}

.my-greenContainer:hover {
  cursor: pointer;
}

.h1big {
font-size: 50px;
}

.welcome {
  margin-top: 100px;
  padding-right: 140px;
  font-size: 20px;
  color: white;
}

.createAccount {
  background-color: white;
  border-radius: 5px;
  padding: 30px 0px;
  margin-top: 50px;
  line-height: 3;
}

.my-input {
  width: 70%;
  display: inline-block;
}

.my-button {
  padding-left: 20%;
  padding-right: 20%;
  max-width: 100%;
  margin-top: 10px;
}

.singUp {
  max-width: 350px;
  margin: 0 auto;
  position: relative;
}

.singUp::before {
  content: '';
  display: inline-block;
  width: 35%;
  height: 1px;
  background-color: lightgrey;
  position: absolute;
  left: 0;
  top: 20px;
}

.singUp::after {
  content: '';
  display: inline-block;
  width: 35%;
  height: 1px;
  background-color: lightgrey;
  position: absolute;
  right: 0;
  top: 20px;
}

.my-googleBtn img {
  width: 20px;
  float: left;
}

.my-googleBtn {
  width: 150px;
  background-color: #f2f8ff;
}
/* fine jumbo */
/* inizio innovative */
.innovative {
  background-color: #f3f5f9;
  color: #939EB5;
  padding: 50px 0px;
}

.images img {
  max-width: 150px;
  display: inline-block;
  margin-left: 25px;
}

.my-container {
  max-width: 100%;
}
